<div class="page">
    <h2 class="page_title">Inicio</h2>
    
    <p class="page_intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo qui tenetur laboriosam ad. Quasi sint nisi alias! Repellendus aut aspernatur nostrum culpa commodi provident, delectus eveniet reiciendis excepturi minus ipsa.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ratione nesciunt omnis, corporis, voluptates iusto inventore molestiae consectetur nisi itaque eum perferendis atque iste eaque ipsa amet. Sit, voluptates. At.</p>
        
    <img class="page_img" src="/img/roonz-nl-2xEQDxB0ss4-unsplash.jpg" alt="">

    <p class="page_text_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam debitis dolorem aspernatur nesciunt. Dignissimos vero fuga deserunt aut vitae minima quas iste eius facilis voluptas inventore ullam, cum aperiam nihil?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam obcaecati illo quis adipisci eius soluta aspernatur ad quasi labore, assumenda expedita sit? Natus ipsum velit veniam odit, quo in quas!</p>
        
</div>